/* Importação Fonte Poppins */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600&family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* Importação Fonte Comic Sans */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap');
:root {
    /* color */
    --baseDark: #1A2C40;
    --base: #1565C0;
    --baseLight: #538ACA;
    --accent-10: #202020;
    --accent-9: #282828;
    --accent-8: #000;
    --accent-7: #343434;
    --accent-6: #484848;
    --accent-5: #5B5B5B;
    --accent-4: #6F6F6F;
    --accent-3: #C7C7C7;
    --accent-2: #DBDBDB;
    --accent-1: #EBEBEB;
    --accent-0: #fff;
    --accent-green: #05C928;
    --accent-greenDark: #04B023;
    --accent-blue: #3B5998;
    --accent-blueDark: #324A80;
    --accent-purple: #C13584;
    --accent-purpleDark: #A82D73;
    /* typeface weight's */
    --extrabold: 800;
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --light: 300;
    /* pixels to rem */
    --px64: 4rem;
    --px48: 3rem;
    --px36: 2.25em;
    --px32: 2rem;
    --px24: 1.5rem;
    --px18: 1.125rem;
    --px16: 1rem;
    --px12: 0.750rem;
    /* typeface's */
    --poppins: Poppins, sans-serif;
    --opens-sans: "Open Sans", sans-serif;
    /* transition */
    --t-btn: all 0.2s ease-out;
    --t-form: all 0.2s ease-out;
    --t-generic: all 0.3s ease-out;
}

/* general */

* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.015rem;
}

ul {
    margin: 0;
    padding: 0;
    align-items: center;
}

li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
}

input, button {
    border: none;
    outline: none;
}

label {
    font-size: var(--px16);
}

.blur {
    background-color: var(--accent-0) !important;
}

.focused {
    background-color: var(--accent-1) !important;
}

.focused label {
    font-weight: var(--medium);
    color: var(--base);
    font-size: var(--px16);
    top: 8px;
}

.blur label {
    color: var(--accent-4);
}

.filled label {
    font-weight: var(--medium);
    color: var(--base);
    font-size: var(--px16);
    top: 8px;
}

.empty label {
    color: var(--accent-4);
}

.filter {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background: rgb(7, 15, 32);
    background: -moz-linear-gradient(90deg, rgba(7, 15, 32, 0.2) 0%, rgba(7, 15, 32, 0.8) 100%);
    background: -webkit-linear-gradient(90deg, rgba(7, 15, 32, 0.2) 0%, rgba(7, 15, 32, 0.8) 100%);
    background: linear-gradient(90deg, rgba(7, 15, 32, 0.2) 0%, rgba(7, 15, 32, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#070f20", endColorstr="#070f20", GradientType=1);
}

.filter.mobile {
    background: rgb(7, 15, 32);
    background: -moz-linear-gradient(-90deg, rgba(7, 15, 32, 0.2) 0%, rgba(7, 15, 32, 0.8) 100%);
    background: -webkit-linear-gradient(-90deg, rgba(7, 15, 32, 0.2) 0%, rgba(7, 15, 32, 0.8) 100%);
    background: linear-gradient(-90deg, rgba(7, 15, 32, 0.2) 0%, rgba(7, 15, 32, 0.8) 100%);
}

/* --- */

.download-app {
    height: 40px;
    background: var(--base);
    display: none;
    z-index: 2;
}

.download-app__group {
    display: flex;
    padding: 4px 24px;
    justify-content: space-between;
}

.download-app__group__text {
    font-size: var(--px18);
    font-weight: var(--medium);
    font-family: var(--poppins);
    color: var(--accent-0);
}

.download-app__group__btn {
    color: var(--base);
    background: var(--accent-0);
    font-size: var(--px16);
    font-weight: var(--semibold);
    font-family: var(--poppins);
    padding: 4px 16px;
    text-align: center;
}

/* sidebar */

.sidebar {
    opacity: 0;
    display: block;
    background-color: var(--accent-0);
    position: fixed;
    right: -500px;
    width: 250px;
    height: 100vh;
    transition: var(--t-generic);
    -webkit-transition: var(--t-generic);
    z-index: 999999;
}

.sidebar__logo {
    margin-top: 16px;
    margin-bottom: 8px;
    margin-right: auto;
    margin-left: auto;
    background: no-repeat center/100% url(../img/logo-dark.png);
    height: 72px;
    width: 180px;
}

.sidebar__list__item--icon {
    display: flex;
    justify-content: center;
    margin-right: 4px;
    width: 40px;
}

.sidebar__list {
    padding: 0;
}

.sidebar__list__item {
    margin-bottom: 8px;
    background: transparent;
}

.sidebar__list__item:last-child {
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.sidebar__list__item:last-child a {
    background-color: var(--accent-1);
}

.sidebar__list__item:last-child a:hover {
    color: var(--accent-6);
    background-color: var(--accent-2);
}

.sidebar__list__item:last-child a:active {
    color: var(--accent-7);
    background-color: var(--accent-3);
}

.sidebar__list__item a {
    background: var(--accent-0);
    padding: 20px 16px;
    color: var(--accent-7);
    font-family: var(--poppins);
    font-weight: var(--regular);
    font-size: var(--px16);
    align-items: center;
}

.sidebar__list__item a:hover {
    background: var(--accent-1);
    color: var(--accent-6);
}

.sidebar__list__item a:active {
    background: var(--accent-3);
    color: var(--accent-5);
}

.sidebar__list__btn--close{
    background-color: var(--accent-0);
    color: var(--accent-6);
    border-radius: 50%;
    left: -16px;
    position: absolute;
    padding: 8px 12px;
    top: 32px;
    z-index: 999999;
}
.sidebar__list__btn--close:hover{
    background-color: var(--accent-1);
    color: var(--accent-5);
}
.sidebar__list__btn--close:active{
    background-color: var(--accent-0);
    color: var(--accent-6);
}

/* active */

.sidebar__list__item.active a {
    background: var(--base);
    color: var(--accent-0);
    border-radius: 4px;
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    width: 105%;
}

.sidebar__list__item.active a:hover {
    background: var(--baseLight);
    color: var(--accent-1);
}

.sidebar__list__item.active a:active {
    background: var(--baseDark);
    color: var(--accent-2);
}

/* - */

/* --- */

/* navbar */

.topbar.mobile {
    margin: 0;
    width: 100%;
    height: 64px;
    position: fixed;
    background-color: var(--accent-0);
    justify-content: inherit;
}

.topbar.mobile .topbar__list .topbar__list__item {
    display: none;
    width: 0;
}

.topbar.mobile .topbar__list .topbar__list__item:last-child {
    display: block;
}

.topbar.mobile .topbar__list .topbar__list__item .topbar_list--btn {
    margin: 0;
    color: var(--accent-7);
    transform: translateX(24px);
    -webkit-transform: translateX(24px);
}

.topbar__fluid {
    position: absolute;
    display: flex;
    align-items: center;
    height: 88px;
    background-color: transparent;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    z-index: 1;
}

.topbar__fluid.fixed {
    position: fixed;
}

.topbar {
    position: absolute;
    display: flex;
    align-items: center;
    width: 90vw;
    height: auto;
    margin-top: 32px;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    z-index: 2;
}

.topbar.fixed {
    height: 88px;
    margin-top: 0;
    position: fixed;
    background-color: var(--accent-0);
    width: 100%;
}

.topbar__list {
    display: flex;
}

.topbar__logo {
    background: url(../img/logo-light.png) no-repeat;
    background-size: 270px, 90px;
    object-fit: none;
    height: 90px;
    width: 270px;
    margin-bottom: -20px;
}

.topbar.fixed .topbar__logo {
    background: url(../img/logo-dark.png) no-repeat;
    background-size: 270px, 90px;
    object-fit: none;
    height: 90px;
    width: 270px;
}

.topbar__logo--mobile {
    background: url(../img/logo-dark.png) no-repeat;
    background-size: 180px, 64px;
    object-fit: none;
    display: none;
    margin: 0 auto;
    width: 180px;
    height: 50px;
}

.topbar__list__item a, .topbar_list--btn {
    font-family: var(--poppins);
    font-size: var(--px16);
    font-weight: var(--semibold);
    color: var(--accent-0);
    padding: 20px;
}

.topbar__list--menu {
    vertical-align: text-bottom;
}

.topbar.fixed .topbar__list__item a {
    color: var(--accent-7);
}

.topbar__list__item:hover a, .topbar_list--btn:hover {
    color: var(--accent-2) !important;
}

.topbar.fixed .topbar__list__item:hover a, .topbar.fixed .topbar_list--btn:hover {
    color: var(--accent-5) !important;
}

.topbar_list--btn {
    color: var(--accent-0);
    padding: 0;
    margin-left: 80px;
}

.topbar.fixed .topbar_list--btn {
    color: var(--accent-7);
}

.topbar__divider {
    display: none;
    position: absolute;
    top: 105px;
    height: 3px;
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.8) 0%, rgba(196, 196, 196, 0) 100%);
}

/* --- */

/* hero image */

.hero {
    padding: 0;
    position: relative;
    z-index: -1;
}

.hero {
    opacity: 0.9;
    /* no-repeat center/100% */
    background: url(../img/caminhao-background.jpg) no-repeat;
    background-size: cover;
    height: 90vh;
}

/* --- */

/* topbar quotation */

.topbar__quotation {
    position: fixed;
    background-color: var(--accent-0);
    top: 87px;
    z-index: 10;
    display: none;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 20%);
    
}

.topbar__quotation__form {
    display: none;
    padding: 8px 0;
    justify-content: center;
}

.topbar__quotation .quotation__form__field.filled label, .topbar__quotation .quotation__form__field.focused label {
    font-size: var(--px16);
    top: 0px;
    background-color: var(--accent-0);
    padding: 0 8px;
    border-radius: 4px;
}

.topbar__quotation .quotation__form__field.focused {
    background-color: white !important;
}

.quotation__form__field.topbar__form__field, .quotation__form__field.topbar__form__field .quotation__form__input {
    height: 40px;
}

.quotation__form__btn.topbar__form__field {
    height: 40px;
    width: 150px;
}

/* --- */

/* quotation */

.quotation {
    height: 200px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.quotation__title {
    color: var(--accent-0);
    font-family: var(--poppins);
    font-weight: var(--semibold);
    font-size: var(--px36);
    text-align: center;
}

.quotation__subtitle {
    color: var(--accent-0);
    font-family: var(--opens-sans);
    font-weight: var(--light);
    font-size: var(--px18);
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    max-width: 650px;
}

.quotation__form {
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    display: flex;
}

.quotation__form__field {
    background: var(--accent-0);
    border: 2px solid var(--accent-1);
    margin-right: 24px;
}

.quotation__form__input {
    background: transparent;
    height: 60px;
}

.quotation__form__label {
    color: var(--accent-4);
    cursor: text;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: var(--t-form);
    -webkit-transition: var(--t-form);
    pointer-events: none;
}

/* form-icon */

.quotation_form_field--icon {
    color: var(--accent-4);
    transition: var(--t-form);
    -webkit-transition: var(--t-form);
}

.quotation__form__field.filled .quotation_form_field--icon {
    color: var(--base);
}

/* --- */

.quotation__form__btn {
    height: 64px;
    width: 100%;
    background: #1565C0;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    transition: var(--t-btn);
    -webkit-transition: var(--t-btn);
}

.quotation__form__btn:hover {
    transform: translate(-5px, -5px);
    -webkit-transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}

.quotation__form__btn:active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.quotation__form__btn--icon {
    color: var(--accent-0);
}

.quotation__form__btn--icon span {
    color: var(--accent-0);
    font-size: var(--px18);
    font-weight: var(--semibold);
}

/* --- */

/* explanation */

.explanation {
    margin-top: 32px;
    margin-bottom: 80px;
}

.explanation__title {
    font-family: var(--poppins);
    font-weight: var(--medium);
    font-size: var(--px24);
    text-align: center;
    color: var(--accent-7);
}

.explanation__subtitle {
    font-family: var(--opens-sans);
    font-weight: var(--light);
    font-size: var(--px18);
    text-align: center;
    color: var(--accent-7);
}

.explanation__card__title {
    font-family: var(--poppins);
    font-weight: var(--regular);
    font-size: var(--px18);
    text-align: center;
    color: var(--accent-7);
}

.explanation__card__text {
    font-family: var(--opens-sans);
    font-weight: var(--light);
    font-size: var(--px16);
    text-align: center;
    color: var(--accent-7);
}

.explanation__card__icon {
    position: relative;
    width: 75px;
    height: 75px;
    border: 1px solid var(--base);
    border-radius: 100%;
    margin: 24px auto 16px auto;
}

.explanation__card__icon--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: var(--base);
}

/* --- */

/* advertising */

.advertising__announce {
    height: 100px;
    width: 100%;
    background-color: var(--accent-2);
}

/* --- */

/* rotes */

.rotes {
    margin: 80px auto;
}

.rotes__list {
    margin-top: 24px;
}

.rotes__title {
    font-size: var(--px24);
    font-family: var(--poppins);
    font-weight: var(--medium);
    color: var(--accent-7);
    text-align: center;
}

.rotes__subtitle {
    font-size: var(--px18);
    font-family: var(--opens-sans);
    font-weight: var(--light);
    color: var(--accent-7);
    text-align: center;
}

.rotes__list__item {
    position: relative;
    border: 1px solid var(--base);
    border-left: 5px solid var(--base);
    border-radius: 4px 0 4px 0;
    padding: 2px 0;
    margin-bottom: 8px;
}

.rotes__list__item__title {
    color: var(--accent-8);
    font-weight: var(--regular);
    font-size: var(--px18);
    font-family: var(--poppins);
    text-align: center;
    margin-bottom: 2px;
    transition: var(--t-generic);
    -webkit-transition: var(--t-generic);
}

.rotes__list__item--destiny, .rotes__list__item--origin {
    color: var(--accent-7);
    font-weight: var(--light);
    font-size: var(--px18);
    font-family: var(--opens-sans);
    text-align: center;
    transition: var(--t-generic);
    -webkit-transition: var(--t-generic);
}

.rotes__list__item__text__group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotes__list__item--divider {
    color: var(--base);
    font-weight: var(--extrabold);
    font-size: var(--px18);
    font-family: var(--opens-sans);
    transition: var(--t-generic);
    -webkit-transition: var(--t-generic);
}

.rotes__list__item__anim {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--base);
    transition: var(--t-generic);
    -webkit-transition: var(--t-generic);
}

.rotes__list__item_link:hover .rotes__list__item__anim {
    width: 100%;
}

.rotes__list__item_link:hover .rotes__list__item--divider {
    color: var(--accent-0);
}

.rotes__list__item_link:hover .rotes__list__item__title, .rotes__list__item_link:hover .rotes__list__item--origin, .rotes__list__item_link:hover .rotes__list__item--destiny {
    color: var(--accent-0);
}

.rotes__list__item_link:active .rotes__list__item__anim {
    background-color: var(--baseDark);
    color: var(--accent-1);
}

.rotes.mobile .row {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
}

.rotes .row .col-12 {
    display: inline-block;
}

/* --- */

/* app */

.app {
    background: url("../img/background-aplicativo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    position: relative;
    height: auto;
    padding: 32px;
    margin: 80px auto;
}

.app__group {
    opacity: 0;
}

.app__image--cell img {
    width: 230px;
    height: 330px;
    object-fit: contain;
    left: 89px;
    right: 89px;
    margin: auto;
    opacity: 0;
    top: 80%;
    position: absolute;
}

.app__image--google {
    display: flex;
    justify-content: center;
}

.app__image--google img {
    width: 285px;
    height: 85px;
    object-fit: contain;
    transition: all 0.2s ease-out;
    -webkit-transition: var(--t-generic);
}

.app__image--google img:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px)
}

.app__title {
    color: var(--accent-0);
    font-weight: var(--medium);
    font-size: var(--px24);
    font-family: var(--poppins);
    text-align: center;
}

.app__subtitle {
    color: var(--accent-0);
    font-weight: var(--regular);
    font-size: var(--px18);
    font-family: var(--opens-sans);
    text-align: center;
    margin-bottom: 32px;
}

.app__subtitle--green {
    color: var(--accent-green);
}

.app__subtitle--green:hover {
    color: var(--accent-greenDark);
}

/* --- */

/* blog */

.blog {
    margin: 80px auto;
}

.blog__title {
    color: var(--accent-7);
    font-size: var(--px24);
    font-weight: var(--medium);
    font-family: var(--poppins);
    text-align: center;
    margin-bottom: 8px;
}

.blog__subtitle {
    color: var(--accent-7);
    font-size: var(--px18);
    font-weight: var(--light);
    font-family: var(--opens-sans);
    text-align: center;
    margin-bottom: 24px;
}

.blog__item {
    border: none
}

.blog__image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 8px;
}

.blog__content {
    padding: 0;
}

.blog__content__tag {
    color: var(--accent-0);
    font-weight: var(--regular);
    font-size: var(--px12);
    font-family: var(--poppins);
    background-color: var(--base);
    padding: 2px 4px;
    border-radius: 4px;
}

.blog__content__text {
    color: var(--accent-7);
    font-weight: var(--regular);
    font-size: var(--px18);
    font-family: var(--opens-sans);
    margin-top: 8px;
    text-decoration: underline;
}

.blog__item {
    transition: var(--t-generic);
    -webkit-transition: var(--t-generic);
}

.blog__item:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

/* --- */

/* statistics */

.statistics {
    background-color: var(--accent-10);
    padding: 32px 0;
    margin-bottom: -2px;
}

.statistics__title {
    color: var(--base);
    font-size: var(--px64);
    font-weight: var(--medium);
    font-family: var(--poppins);
    text-align: center;
    margin-bottom: 8px;
}

.statistics__subtitle {
    color: var(--accent-0);
    font-size: var(--px24);
    font-weight: var(--medium);
    font-family: var(--poppins);
    text-align: center;
}

.statistics__item {
    position: relative;
}

.statistics__item::after {
    content: "";
    position: absolute;
    right: -12px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 80%;
    border-right: 2px solid var(--accent-0);
    opacity: 0.2;
}

.statistics__item.--last::after {
    display: none;
}

/* --- */

/* footer */

.footer {
    background-color: var(--accent-10);
    padding: 16px 0;
    position: relative;
    margin-bottom: -1px;
}
.footer::after {
    content: "";
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 90%;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--accent-4);
    opacity: 0.2;
}

.footer__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__title {
    font-size: var(--px18);
    font-weight: var(--medium);
    font-family: var(--poppins);
    color: var(--accent-0);
}

.footer__link__group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.footer__link__item, .footer__link__item--blue, .footer__link__item--purple {
    padding: 2px 4px;
    border: 1px solid var(--accent-0);
    margin-right: 12px;
    border-radius: 4px;
    color: var(--accent-0);
    font-size: var(--px16);
    font-family: var(--poppins);
    font-weight: var(--regular);
}

.footer__link__item--blue {
    font-size: var(--px18);
    border: initial;
    color: var(--accent-blue);
}

.footer__link__item--purple {
    font-size: var(--px18);
    border: initial;
    color: var(--accent-purple);
    margin-right: 0;
}

.footer__link__item:last-child {
    margin-left: initial;
}

.footer__link__item--blue:hover {
    color: var(--accent-blueDark);
}

.footer__link__item--purple:hover {
    color: var(--accent-purpleDark);
}

.footer__link__item:hover {
    color: var(--accent-2);
    border: 1px solid var(--accent-2);
}

.footer--2 {
    background-color: var(--accent-10);
    padding: 8px 0;
}

.footer--2__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer--2__text {
    color: var(--accent-5);
    font-size: var(--px16);
    font-family: var(--opens-sans);
    font-weight: var(--light);
}

.footer--2__text--grey {
    color: var(--accent-3);
}

.footer--2__text--grey:hover {
    color: var(--accent-4);
}

/* --- */

/* sm */

@media (max-width: 767.98px) {
    /* hero */
    .hero {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
        height: 80vh;
    }
    /* --- */
    /* sidebar */
    .sidebar__list__item a {
        padding: 16px;
    }
    .sidebar__list__item.active a {
        transform: initial;
        -webkit-transform: initial;
        width: 102%;
        border-radius: 0 4px 4px 0;
    }
    .sidebar {
        opacity: 0;
        display: block;
        background-color: var(--accent-0);
        position: fixed;
        left: -500px;
        right: auto;
        width: 250px;
        height: 100vh;
        transition: var(--t-generic);
        -webkit-transition: var(--t-generic);
        z-index: 999999;
    }
    .sidebar.no__collapse {
        opacity: 1;
        display: block;
        position: fixed;
        left: 0;
        width: 250px;
        height: 100vh;
    }
    /* --- */
    /* topbar */
    .topbar.mobile {
        margin-top: 40px;
    }
    /* --- */
    /* quotation */
    .quotation {
        height: 324px;
    }
    .quotation__title {
        font-size: 20px;
    }
    .quotation__subtitle {
        font-size: 16px;
        max-width: 300px;
    }
    .quotation__form {
        display: block;
    }
    .quotation__form__field {
        margin-bottom: 16px;
    }
    .quotation__form__btn {
        padding: initial;
        width: 100%;
    }
    .quotation__form__field {
        margin: initial;
        margin-bottom: 16px;
    }
    /* --- */
    /* explanation */
    .explanation {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .explanation__title {
        font-size: var(--px18);
    }
    .explanation__subtitle {
        font-size: var(--px16);
    }
    .explanation__card__icon {
        margin: 16px auto;
    }
    .explanation__card__title {
        font-size: var(--px16);
    }
    .explanation__card__text {
        font-size: var(--px16);
    }
    /* --- */
    /* announce */
    .advertising {
        margin: 32px auto;
    }
    .advertising__announce {
        height: 300px;
    }
    /* --- */
    /* rotes */
    .rotes {
        margin: 32px auto;
    }
    /* --- */
    /* app */
    .app {
        height: auto;
        padding: 130px 16px 16px 16px;
        margin: 200px auto 32px auto;
    }
    .app__title {
        color: var(--accent-0);
        font-weight: var(--medium);
        font-size: var(--px24);
        font-family: var(--poppins);
        text-align: center;
    }
    .app__subtitle {
        color: var(--accent-0);
        font-weight: var(--light);
        font-size: var(--px16);
        font-family: var(--opens-sans);
        text-align: center;
        margin-bottom: 8px;
    }
    .app__image--google img {
        width: 260px;
        height: 80px;
    }
    .app__image--cell img {
        width: 150px;
        height: 300px;
        object-fit: contain;
        top: -20%;
        left: 0;
        right: 0;
        opacity: 0;
        margin-right: auto;
        margin-left: auto;
        position: absolute;
    }
    /* --- */
    /* blog */
    .blog {
        margin: 32px auto;
    }
    .blog__item {
        margin-bottom: 16px;
    }
    /* --- */
    /* statistics */
    .statistics__item {
        margin-bottom: 16px;
    }
    .statistics__item.--mobile::after {
        display: none;
    }
    .statistics__title {
        font-size: var(--px48);
    }
    .statistics__subtitle {
        font-size: var(--px12);
    }
    /* --- */
    /* footer */
    .footer {
        padding: 8px 0;
    }
    .footer__title {
        font-size: var(--px16);
    }
    .footer__link__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }
    .footer__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }
    .footer__link {
        display: flex;
        align-self: center;
    }
    .footer__link__item {
        margin-bottom: 8px;
        font-size: var(--px12);
        padding: 0;
    }
    .footer__link__item--purple, .footer__link__item--blue {
        font-size: var(--px16);
    }
    /* --- */
    /* footer-2 */
    .footer--2 {
        padding: 8px 0;
    }
    .footer--2__group {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /* --- */
}

/* md */

@media (min-width: 768px) and (max-width: 1023px) {
    /* hero */
    .hero {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
        height: 70vh;
    }
    /* --- */
    /* sidebar */
    .sidebar__list__item a {
        padding: 16px;
    }
    .sidebar__list__item.active a {
        transform: initial;
        -webkit-transform: initital;
        width: 102%;
        border-radius: 0 4px 4px 0;
    }
    .sidebar {
        opacity: 0;
        display: block;
        background-color: var(--accent-0);
        position: fixed;
        left: -500px;
        right: auto;
        width: 250px;
        height: 100vh;
        transition: var(--t-generic);
        -webkit-transition: var(--t-generic);
        z-index: 999999;
    }
    .sidebar.no__collapse {
        opacity: 1;
        display: block;
        position: fixed;
        left: 0;
        width: 250px;
        height: 100vh;
    }
    /* --- */
    /* topbar */
    .topbar.mobile {
        margin-top: 40px;
    }
    .topbar.mobile .topbar__list .topbar__list__item .topbar_list--btn {
        margin: 0;
        color: var(--accent-7);
        transform: translateX(64px);
        -webkit-transform: translateX(64px)
    }
    /* --- */
    /* quotation */
    .quotation__form {
        margin-right: initial;
        margin-left: initial;
    }
    .quotation__form__field {
        margin-right: 12px;
    }
    .quotation__title {
        font-size: var(--px32);
    }
    .quotation__subtitle {
        max-width: initial;
    }
    /* --- */
    /* explanation */
    .explanation {
        margin-top: 32px;
        margin-bottom: 40px;
    }
    .explanation__subtitle {
        font-size: var(--px16);
    }
    .explanation__card__title {
        font-size: var(--px16);
    }
    .explanation__card__text {
        font-size: var(--px16);
    }
    /* --- */
    /* announce */
    .advertising {
        margin: 40px auto;
    }
    /* --- */
    /* rotes */
    .rotes {
        margin: 40px auto;
    }
    /* --- */
    /* app */
    .app {
        height: auto;
        padding: 16px;
    }
    .app__title {
        color: var(--accent-0);
        font-weight: var(--medium);
        font-size: var(--px24);
        font-family: var(--poppins);
        text-align: center;
    }
    .app__subtitle {
        color: var(--accent-0);
        font-weight: var(--light);
        font-size: var(--px16);
        font-family: var(--opens-sans);
        text-align: center;
        margin-bottom: 16px;
    }
    .app__image--google img {
        width: 260px;
        height: 80px;
    }
    .app__image--cell img {
        width: 150px;
        height: 260px;
        object-fit: contain;
        top: 50%;
        left: 24px;
        opacity: 0;
        position: absolute;
    }
    /* --- */
    /* blog */
    .blog {
        margin: 40px auto;
    }
    /* --- */
    /* statistics */
    .statistics {
        padding: 16px 0;
    }
    .statistics__item {
        margin-bottom: 8px;
    }
    .statistics__item.--mobile::after {
        display: none;
    }
    /* --- */
    /* footer */
    .footer {
        padding: 16px 0;
    }
    .footer__title {
        margin-bottom: 8px;
    }
    .footer__link {
        display: flex;
        align-self: center;
    }
    .footer__link__item {
        margin-bottom: 8px;
        font-size: var(--px16);
    }
    .footer__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }
    .footer__link {
        display: flex;
    }
    .footer__link__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* --- */
    /* footer-2 */
    .footer--2__group {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /* --- */
}

/* lg */

@media (min-width: 1024px) {
    /* sidebar */
    .sidebar.no__collapse {
        opacity: 1;
        display: block;
        position: fixed;
        right: 0;
        width: 250px;
        height: 100vh;
        z-index: 999999;
    }
    /* --- */
}